{% extends "blog/base.html" %}
{% load thumbnail %}


{% block content %}

    {% if user.is_authenticated %}
     <p>Welcome, <b>{{ user.username }}</b>. Thanks for logging in.  <b>Select a category you are interested to discover:</b></p>
    {% else %}
    <p>Welcome, new user. Please log in. <b>Select a category you are interested to discover:</b></p>
    {% endif %}

     <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
             <a href="{% url "blog.views.post_list" cat=2%}"><button type="button" class="btn btn-default"><b>New Ireland masks</b></button></a>
        </div>
        <div class="btn-group" role="group">
           <a href="{% url "blog.views.post_list" cat=3%}"><button type="button" class="btn btn-default" > <b>New Britain masks</b>  </button> </a>
        </div>
        <div class="btn-group" role="group">
             <a href="{% url "blog.views.post_list" cat=1 %}"><button type="button" class="btn btn-default"><b>Borneo  Hudoq masks</b></button></a>
        </div>
    </div>

<div class="row-fluid">
    <div class="col-md-3  col-sm-1" >
    </div>
    <div class="col-md-6  col-sm-10" >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"  data-wrap="true" data-interval="3500" data-pause="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
             {% for post  in posts %}
                {% if forloop.counter0   == 0 %}
                 <li data-target="#carousel-example-generic" data-slide-to={{forloop.counter0}}  class="active"></li>
                 {% else %}
                 <li data-target="#carousel-example-generic" data-slide-to={{forloop.counter0}}  ></li>
                {% endif %}
            {% endfor %}
         </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner" role="listbox">
        {% for post  in posts %}
            {% if forloop.counter   == 1 %}
                 <div class="item active">
                      <a href="{% url "blog.views.post_list" cat=post.main_category.pk %}"> <img src="{% thumbnail post.photo 750x750 %}" data-holder-rendered="true"  class="img-responsive"> </a>
                     <div class="carousel-caption">
                        <h3>{{post.title}}</h3>
                     </div>
                  </div>
            {% else %}
                 <div class="item">
                     <a href="{% url "blog.views.post_list" cat=post.main_category.pk %}"> <img src="{% thumbnail post.photo 750x750 %}" data-holder-rendered="true" class="img-responsive" > </a>
                     <div class="carousel-caption">
                        <h3>{{post.title}}</h3>
                     </div>
                 </div>
             {% endif %}
        {% endfor %}
        </div>

         <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
         </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
    <div class="col-md-3  col-sm-1" >
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-4  col-sm-4" >
    <h1> New Ireland masks</h1>
    <p>A tatanua is a type of traditional mask made by the natives in the province of New Ireland, Papua New Guinea.
        The masks are made of wood and other natural materials and used in funeral ceremonies called malagan.
        Tatanua face masks are normally carved from lime wood and completed and decorated with fibres from sugar cane, wool and other animal hair.
        The face is coloured using chalk and other natural dyes. The type with a high headdress are created using a cane framework that was formerly then covered in bark, although later imported fabric was used as the covering.
        Besides the fabric, some masks also included imported optical brighteners, which made some nominally white areas slightly blue.
        Tatanua masks are worn by ceremonial dancers as part of New Ireland malagan rituals. These are funerary religious ceremonies held by the family of the deceased to communicate with deities and to show respect for the deceased.
        Mannequins or statues representing the soul of the deceased are also shown at the malagan ceremonies. The local people construct them so that they celebrate the dead person's characteristics.
        They are elaborated with anthropomorphic symbols which are thought to represent the link between the people of New Ireland, their creation and the spiritual world to which they eventually pass on.
        The dances were performed in groups; only those who were respected would be allowed the honour of performing the dance, as it was important that observers see the community's strength.
        The carved masks may take many months to construct, so that the person's death may not be formally marked for some time. The celebrations would be used as a time for the community to illustrate its skills to its neighbours as well as to meet, agree and perform the cultural aspect of a community member dying
    </p>
    </div>
    <div class="col-md-4  col-sm-4" >
    <h1> New Britain masks</h1>
    <p>The Baining people are among the earliest and original inhabitants of the Gazelle Peninsula of East New Britain, Papua New Guinea. They currently inhabit the Baining Mountains into where they are thought to have been driven by the Tolai tribes who migrated to the coastal areas in comparatively recent times. Another factor that might have influenced their migration inland was major volcanic activity that took place over centuries. (As recently as 1994, the nearby town of Rabaul was almost completely destroyed by two volcanoes, Tavurvur and Vulcan).
        A Fire Dancer of the Baining people. The Baining tribes get their name from the Baining Mountains which they inhabit.
        Their language is also called Baining of which there are a few different dialects.
        The Baining people's artworks are usually produced for limited uses only. The masks are laboriously made from bark cloth, bamboo and leaves and used just once for the firedance ceremony before being thrown away or destroyed.
        The origin of these firedance ceremonies was to celebrate the birth of new children; the commencement of harvests and also a way of remembering the dead. The Baining firedance is also a rite of passage for initiating young men into adulthood. The fire dance is a men-only event and traditionally the Baining women and children neither partake nor watch.
    </p>
    </div>
    <div class="col-md-4  col-sm-4" >
    <h1> Borneo  Hudoq masks</h1>
    <p>Hudoq is a thanksgiving festival of many of sub-groups of the Dayak ethnic group of East Kalimantan province, Indonesia.
        According to the traditional beliefs of the Bahau, Busang, Modang, Ao’heng, and Penihing people, hudoqs are thirteen crop-destroying pests, including rats, lions, and crows.
        In the festival the Hudoqs are symbolized by dancers who wear masks representing pests and jackets made of areca palm or banana tree bark.
        The dance is finished when two human hudoqs come out and chase the pest hudoqs. The dance duration is 1–5 hours.
        It is arranged from village to village after people dibble the land to grow dry-field rice paddies in September to October every year.
        They pray so that their fields will grow abundantly.</p>
    </div>
{% endblock content %}
