{% extends "blog/base.html" %}
{% load thumbnail %}


{% block content %}

    {% if user.is_authenticated %}
     <p>Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}

{% for category  in categories %}
     <div class="row">
        <div class="col-md-12" >
          <h1> {{category.name}} </h1>
        </div>
     </div>
     <div class="row">
    {% for post in posts %}
        {% if post.category == category %}
        <!--div style="float:left;width:25%"-->
        <div class="col-md-3 col-sm-4" >
            <a href="{% url "blog.views.post_details" pk=post.pk %}">  <img src="{% thumbnail post.photo 400x400 %}"  class="img-circle"> <!--img src="{{ post.photo.url }}"  class="img-thumbnail" width="400" height=auto-->  </a>
         </div>
        {% endif %}

    {% endfor %}
    </div>

{% endfor %}


{% endblock content %}
