{% extends "blog/base.html" %}



{% block content %}

    {% if user.is_authenticated %}
     <p>Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}

{% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>



                    <h1><a href="{% url "blog.views.post_details" pk=post.pk %}">{{ post.title }}</a></h1>
                     <a href="{{post.photo.url}}"> <img style="width:200px;height:auto;" src="{{post.photo.url}}" .image(alt = "Sample Image")></a>
                    <p>{{ post.text|linebreaks }}  </p>


                    <br>

                    <div class="hhh">
                        By {{ post.author }}
                    </div>



                </div>
{% endfor %}

{% endblock content %}
