h1 a {
    color: #FCA205;
}
body {
    padding-left: 15px;
    background-color:whitesmoke;
    #background-image: url(../../../media/wood.jpg);
    #background-repeat: no-repeat;
    #background-size: 70%;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.page-header {
    background-color:#0B0B3B;
    margin-top: 0;
    padding: 10px 20px 10px 40px;
    #background: url(../../../media/default.jpg);
    #background-size:contain;
    #background-repeat: no-repeat;

}

.page-footer {
    background-color: #0B0B3B;
    #margin-bottom: 0;
    padding: 0px 0px 0px 40px;

    left:0;
    bottom:0;

    right:0;
    position:fixed;
}

.page-footer p  {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.fieldWrapper
{
    font-size: 15pt;
    font-family: 'Lobster', cursive;
    width: 20%
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.picture {
    float: right;

}

.hhh {
    font-family: 'Lobster', cursive;
    float:bottom;
    width:25%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-login textarea, .post-login input {
    width: 20%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 23pt;
    margin-right: 20px;

    font-family: 'Lobster';
}

.top-footer{

    color: #ffffff;
    float: none;
    font-size: 15pt;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Lobster';
}


.top-menu-text{
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;

    font-family: 'Lobster';
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.carousel {
    

}

.carousel .item img {

    margin: 0 auto
}


.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;

}
